.post {
    margin: 0 20%;
    font-size: 1.1rem;
}

.post img {
    display: block;
    margin: auto;
    max-width: 100%;
}

.post figure {
    margin: 2rem 5rem;
}

.post figcaption {
    font-size: .9rem;
    margin: 1rem 0;
}

.post-h1 {
    margin: 2rem 0 1rem 0;
}

.post-desc {
    font-style: italic;
    margin: 1rem 0 3rem 0;
}

.blog-top {
    align-items: flex-start;
    display: flex;
    margin: 3rem 10%;
}

.blog-top img {
    max-width: 100%;
    width: 20rem;
}

.blog-intro {
    flex: 1;
    margin: 0 0 0 3rem;
}

.tiny {
    font-size: .5rem;
}

@media only screen and (max-width: 800px) {
    .blog-top {
      display: block;
      margin: 3rem 1rem;
    }

    .blog-intro {
        margin: 0;
    }

    .post {
        margin: 2rem 1rem;
    }

    .post figure {
        margin: 2rem 0;
    }
}