a {
  -webkit-transition: all ease .1s;
  -moz-transition: all ease .1s;
  -o-transition: all ease .1s;
  transition: all ease .1s;
  color: #ffb56c;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
}

a:hover { color: #f9955e; }

h1 { font-size: 3rem; }

.text-center { text-align: center; }

.flex-parent { display: flex; }

.flex-child { flex: 1; }

.sect-blue { padding: 3% 5%; }

.sect-white {
  background: #eee;
  border-bottom: 1px solid rgba(0, 0, 0, .5);
  box-shadow: 0 0 .1rem .5rem rgba(0, 0, 0, .3);
  color: #050505;
  padding: 3% 5%;
}

.accent-orange { color: #ffb56c; }

input[type="text"],
textarea {
  background: #eee;
  border: none;
  border-radius: 5px;
  display: block;
  font-size: 1.3rem;
  margin: 1.5% 0;
  padding: 1%;
  width: 98%;
}

textarea { height: 10rem; }

input[type="submit"] {
  background: #ffb56c;
  border: 2px solid #f9955e;
  border-radius: 5px;
  color: #993600;
  font-size: 1.3rem;
  padding: 1% 5%;
}

input[type="submit"]:hover {
  background: #f9955e;
  cursor: pointer;
}