html,
body {
    font-family: 'Crimson Text', serif;
    margin: 0;
}

@media only screen and (min-width: 992px) {

    html {
	font-size: 1.5rem;
    }

    .page {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	height: 100%;
	justify-content: center;
	margin: 0 0 20rem 0;
	overflow: hidden;
	padding: 2rem 5rem;
    }
    
    .page p {
	flex: 1;
    }

    .frame {
	max-height: 100%;
    }

    .page-row .frame {
	margin: 0 2rem 0 0;
    }

    .page-row-r {
	flex-direction: row-reverse;
    }

    .page-row-r .frame {
	margin: 0 0 0 2rem;
    }

    .page-col-r {
	flex-direction: column-reverse;
    }

    .page-col-r .frame {
	margin: 3rem 0 0 0;
    }

    .page-col-r p {
	margin: 0 5rem;
    }
    
    .frame-white {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	height: 100%;
	margin: 0 5rem;
	padding: 2rem 5rem;
    }

    .frame-black {
	align-items: center;
	background: #333;
	box-sizing: border-box;
	color: #fff;
	display: flex;
	height: 100%;
	margin: 0 5rem;
	padding: 2rem 5rem;
    }

}
