.gallery-gernene-2018 { background-image: url('../img/web/Gernene2018Home.png'); }
.gallery-just-tangerine-2017 { background-image: url('../img/web/JustTangerine2017Home.png'); }
.gallery-fhsgwc { background-image: url('../img/web/FHSGWCHome.png'); }
.gallery-ogb { background-image: url('../img/web/OGBPost.png'); }
.gallery-just-tangerine-2016 { background-image: url('../img/web/JustTangerine2016Home.png'); }
.gallery-solisles { background-image: url('../img/web/SolislesHome.png'); }

.gallery-creature-mask { background-image: url('../img/art/CreatureMask.png'); }
.gallery-fire-dance { background-image: url('../img/art/FireDance.png'); }
.gallery-hwona { background-image: url('../img/art/Hwona.png'); }
.gallery-just-tangerine-logo-2016 {
  background-color: #393939;
  background-image: url('../img/art/JustTangerineLogo2016.png');
}
.gallery-dawn-of-keilien { background-image: url('../img/art/DawnoftheKeilien.png'); }
.gallery-bride-of-blooms { background-image: url('../img/art/BrideofBlooms.png'); }
.gallery-paradise-whemzel { background-image: url('../img/art/ParadiseWhemzelPainting.png'); }
.gallery-rainbow-wallie { background-image: url('../img/art/RainbowWalliePainting.png'); }
.gallery-wallie { background-image: url('../img/art/Wallie.png'); }

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #132a33;
  color: #ccc;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: #1794c4;
  text-decoration: none;
  transition: all ease .4s;
}

a:hover { color: #0c82af; }

h1, h2 {
  font-family: "Spectral SC", cursive;
}

.btn {
  background: #bc4b00;
  box-shadow: .1rem .1rem .5rem .1rem rgba(0, 0, 0, .8);
  color: #ccc;
  display: inline-block;
  margin: 2rem 0 0 0;
  padding: .5rem 1rem;
  transition: all ease .4s;
}

.btn:hover {
  background: #992d00;
  color: rgba(255, 255, 255, .7);
}

#nav {
  background: #bc4b00;
  border-bottom: 1px solid rgba(0, 0, 0, .5);
  box-shadow: 0 0 1rem .3rem rgba(0, 0, 0, .8);
  display: flex;
  font-family: 'Spectral SC', serif;
  font-size: 1.4rem;
  padding: 0 2rem;
  position: relative;
  text-align: center;
  z-index: 10;
}

#nav-top {
  display: flex;
  flex: 1;
}

#nav ul {
  margin: 0;
  padding: 0;
}

#nav li {
  display: inline-flex;
  flex-direction: row;
}

#nav li a {
  color: #ddd;
  display: inline-block;
  flex: 1;
  padding: .8rem 1.2rem;
  transition: all ease .4s;
}

#nav li a:hover {
  color: rgba(255, 255, 255, .7);
  background: #992d00;
}

#nav-sm {
  align-items: center;
  display: flex;
  flex: 1;
  text-align: left;
}

#nav-sm .fa {
  align-self: center;
  border: 2px solid #ddd;
  border-radius: 50%;
  color: #ddd;
  line-height: 2rem;
  margin: 0 .5rem 0 0;
  width: 2rem;
  text-align: center;
  transition: all ease .4s;
}

#nav-sm a:hover .fa {
  color: rgba(255, 255, 255, .7);
  background: #992d00;
  border: 2px solid rgba(255, 255, 255, .7);
}

#hamburger {
    transition: all ease .2s;
    display: none;
    cursor: pointer;
    margin: 1% 2%;
    vertical-align: middle;
}

#hamburger:hover { opacity: .8; }

.bar1, .bar2, .bar3 {
    width: 2.4rem;
    height: .4rem;
    background-color: rgba(255, 255, 255, .8);
    margin: .4rem 0;
    transition: 0.4s;
}

.change .bar1,
.gallery-viewer .bar1 {
    -webkit-transform: rotate(-45deg) translate(-.4rem, .4rem) ;
    transform: rotate(-45deg) translate(-.6rem, .6rem) ;
}

.change .bar2,
.gallery-viewer .bar2 { opacity: 0; }

.change .bar3,
.gallery-viewer .bar3 {
    -webkit-transform: rotate(45deg) translate(-.5rem,-.5rem) ;
    transform: rotate(45deg) translate(-.5rem,-.5rem) ;
}

#content {
  min-height: 100vh;
  padding: 1.5rem 0 0 0;
  overflow: hidden;
  position: relative;
}

#footer {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: #aaa;
  padding: 1.5% 5%;
  text-align: center;
}

#footer-sm { padding: .5rem 0; }

#footer-sm a { color: #aaa; }

#footer-sm a:hover { opacity: .8; }

#footer-sm .fa {
  font-size: 1.8rem;
  padding: 0 .2rem;
}

#intro {
  display: flex;
  padding: 4% 7% 7% 7%;
}

#intro-right,
#intro-greet,
#intro-hello {
  align-items: center;
  display: inline-flex;
  flex: 1;
  font-size: 1.5rem;
  justify-content: center;
  overflow: hidden;
  text-align: center;
}

#intro-left {
  margin: 0 2rem 0 0;
  width: 30rem;
}

#intro-right { flex-direction: column; }

#intro-right div {
  background: rgba(19, 42, 51, .5);
  animation: .5s ease-out 1s 1 slideDown forwards;
  transform: translateY(-10rem);
}

#intro-right a {
  animation: 2s ease-out 2s 1 fadeIn forwards;
  opacity: 0;
}

#intro-hello {
  flex-direction: column;
  font-family: 'Spectral SC', cursive;
  overflow: hidden;
}

#intro-hello div:first-child { font-size: 3.6rem; }

#intro h1 {
  animation: 2s ease-out 0s 1 fadeIn forwards;
  font-size: 2.2rem;
  margin: 0;
  opacity: 0;
}

#intro-logo {
  align-self: flex-start;
  margin: 0 1rem 0 0;
  opacity: .9;
  width: 32%;
}

#index-angies { background: #bc4b00; }
#index-art { background: #004b68; }

#index-stripe1 {
	width: 100%;
	height: 2vw;
	transform: rotate(-50deg) skew(40deg);
	background: #ccc;
  position: absolute;
  left: 52vw;
  opacity: .5;
  transform: translate(100%, 100%);
  animation: 1s ease-out 0s 1 slideStripe forwards;
}

#index-stripe2 {
	width: 100%;
	height: 1.2vw;
	transform: rotate(-50deg) skew(40deg);
	background: #ccc;
  position: absolute;
  left: 58vw;
  opacity: .6;
  transform: translate(100%, 100%);
  animation: 1.2s ease-out 0s 1 slideStripe forwards;
}

#index-stripe3 {
	width: 14%;
  margin: 0 43%;
	height: 1.6vw;
	background: #bc4b00;
  position: absolute;
  top: 15vw;
  left: 42.5vw;
  opacity: .6;
  transform: translate(200%, 100%);
  animation: .5s ease-out 0s 1 slideStripe forwards;
}

#index-mountains {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  height: 8rem;
  margin: 0 0 3rem 0;
}

#index-mountains div.in-view {
	width: 0;
	height: 0;
	border-left: 5rem solid transparent;
	border-right: 5rem solid transparent;
	border-bottom: 5rem solid rgba(255, 255, 255, .5);
}

#index-mountains div:last-child {
  position: absolute;
  top: 0;
  padding: 3rem;
  background: #bc4b00;
  border: none;
  border-radius: 50%;
  width: auto;
  height: auto;
  opacity: 0;
  transform: translate3d(0, 100%, 0);
  transition: 1.5s;
}

#index-mountains div:last-child.in-view {
  opacity: .6;
  transform: translate3d(0, 0, 0);
}

#index-about {
  padding: 5% 7%;
}

#index-links { text-align: center; }

#index-links a {
  align-items: center;
  display: inline-flex;
  font-size: 1.4rem;
  padding: 2rem 1rem;
}

#index-links a div {
  border-top: .5rem solid transparent;
	border-bottom: .5rem solid transparent;
	border-left: .8rem solid #1794c4;
  margin: 0 0 0 1rem;
  transition: all ease .4s;
}

#index-links a:hover div { border-left: .8rem solid #0c82af; }

#resume,
#about { padding: 2% 7%; }

#resume h1 {
  align-items: center;
  display: flex;
}

#resume span { flex: 1; }

#contact {
  display: flex;
  padding: 2% 7%;
}

#contact-info {
  flex: 1;
  margin: 0 5rem 0 0;
}

#contact-info h1 {
  margin: 0 0 2rem 0;
}

#contact form {
  display: flex;
  flex-direction: column;
  width: 40%;
}

#contact form label { margin: 0 0 .2rem 0; }

#contact form input,
#contact form textarea {
  background: #ddd;
  border: none;
  box-shadow: .1rem .1rem .5rem .1rem rgba(0, 0, 0, .8);
  flex: 1, 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  margin: 0 0 1rem 0;
  padding: .5rem;
}

#contact form textarea {
  height: 15rem;
}

#contact form input[type="submit"] {
  background: #bc4b00;
  font-size: 1.4rem;
  transition: all ease .4s;
}

#contact form input[type="submit"]:hover {
  background: #992d00;
  color: rgba(255, 255, 255, .7);
  cursor: pointer;
}

#contact h2 {
  background: #bc4b00;
  box-shadow: .1rem .1rem .5rem .1rem rgba(0, 0, 0, .8);
  display: flex;
  margin: 2rem 0;
  padding: .2rem .8rem;
}

#contact h2:hover {
  background: #992d00;
  cursor: pointer;
  transition: all ease .4s;
}

#contact h2 div:first-child { flex: 1; }

#contact h2 div:last-child {
  background-image: url('../img/arrowWhite.png');
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all ease .4s;
  width: 2.5rem;
}

#contact h2 div:last-child.active {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

.list-item-cont { display: none; }

.list-item {
  display: flex;
  margin: 0 0 2rem 0;
}

.list-item h3 { margin: 0 0 1rem 0; }

.list-item div:first-child {
  background: #bc4b00;
  box-shadow: .1rem .1rem .5rem .1rem rgba(0, 0, 0, .8);
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 3rem;
  text-align: center;
  width: 3rem;
}

.list-item div:last-child {
  flex: 1;
  margin: 0 0 0 1rem;
}

.list-item p { margin: 0; }

.gallery-viewer {
  background: rgba(0, 0, 0, 0.8);
  display: none;
  flex-direction: column;
  height: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 999;
}

.gallery-viewer.active { display: flex; }

.gallery-cross-cont { text-align: right; }

.gallery-cross {
  display: inline-block;
  margin: 1rem;
  transition: all ease .4s;
}

.gallery-cross:hover {
  cursor: pointer;
  opacity: .8;
}

.gallery-viewer-item {
  flex: 1;
  overflow: auto;
  padding: 1rem 4%;
}

.gallery-viewer-item img {
  max-height: 50rem;
  max-width: 60rem;
}

.gallery-h1 {
  margin: 2rem 4% 3rem 4%;
  text-align: center;
}

.gallery-art .gallery-item { transition: all ease .4s; }

.gallery-art .gallery-item:hover {
  cursor: pointer;
  opacity: .8;
}

.gallery-x {
  background: #ddd;
  box-shadow: 0 .2rem 1rem .3rem rgba(0, 0, 0, .8);
  margin: 0 0 2rem 0;
}

.gallery-row {
  display: flex;
}

.gallery-item {
  background-position: center;
  background-size: cover;
  display: flex;
  flex: 1;
  height: 20rem;
  overflow: hidden;
  position: relative;
}

.gallery-item-slide {
  background: rgba(255, 255, 255, .9);
  color: #132a33;
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: 1.4rem;
  height: 100%;
  position: relative;
  text-align: center;
  top: 100%;
  transition: all ease .6s;
}

.gallery-item-slide p {
  flex: 1;
  margin: 10% 10% 0 10%;
}

.gallery-item-slide a {
  display: block;
  border: 3px solid #132a33;
  color: #132a33;
  margin: 10%;
  padding: .4rem;
  transition: all ease .4s;
}

.gallery-item-slide a:hover {
  background: #132a33;
  color: #ddd;
}

.gallery-item:hover .gallery-item-slide { top: 0; }

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideStripe {
  0% {
    transform: translate(100%, 100%) rotate(-50deg) skew(40deg);
  }
  100% {
    transform: translate(0, 0) rotate(-50deg) skew(40deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@media only screen and (max-width: 900px) {

#nav {
  display: block;
  padding: 0;
  position: fixed;
  text-align: right;
  top: 0;
  width: 100%;
}

#nav-sm { padding: 0 2%; }

#nav nav { display: none; }

#nav li {
  background: #132a33;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  display: block;
  padding: 0;
  text-align: center;
}

#nav li:nth-child(odd) { background: #16303a; }

#nav li a {
  display: block;
  padding: 2% 3%;
}

#nav li a:hover {
  background: rgba(255, 255, 255, 0.2);
}

#hamburger { display: inline-block; }

#content {
  margin: 3rem 0 0 0;
}

#intro {
  display: block;
}

#intro-left {
  margin: 0 0 2rem 0;
  width: auto;
}

#index-links {
  text-align: left;
}

#index-links a {
  display: flex;
  padding: .5rem 0;
}

#index-links a:first-child {
  padding: 2rem 0 .5rem 0;
}

#contact { display: block; }

#contact-info,
#contact form {
  width: auto;
  margin: 0;
}

.gallery-item {
  height: 12rem;
}

.gallery-item-slide { font-size: 1.1rem; }

.gallery-item-slide p { margin: 5%; }

.gallery-item-slide a { margin: 5%; }

}


@media only screen and (max-width: 500px) {

body { font-size: 1.1rem; }

#intro {
  padding: 4% 4% 2rem 4%;
}

#intro-greet,
#intro-left,
#intro-hello {
  display: block;
  font-size: 1.2rem;
}

#intro-left { margin: 0 0 1rem 0; }

#intro-right { font-size: 1.25rem; }

#intro-logo {
  margin: 0;
}

#intro-hello div:first-child { font-size: 2.6rem; }

#intro h1 { font-size: 1.8rem; }

#index-about {
  padding: 2rem 4%;
}

#index-mountains { margin: 1rem 0 2rem 0; }

#contact,
#resume,
#about { padding: 1rem 4%; }

.gallery-row {
  display: block;
}

.gallery-item-slide p { margin: 10% 10% 0 10%; }

.gallery-item-slide a { margin: 10%; }

}
