---
layout: default
title: Blog
permalink: /blog/
---

<div class="blog">
  <div class="blog-top">
    <img src="{{ site.url }}/img/TangerinePeelGirl.png">
    <div class="blog-intro">
      <h1>The Tangerine Peel</h1>
      <p>
        <em>
          Dissecting the fruits of technology and design.
        </em>
      </p>
      <p>
          A space for Gernene's ideas, experiments, and other random musings.
      </p>
    </div>
  </div>
  <div class="features">

      {% for post in site.posts %}
        {% include feature.html
          path=post.url
          title=post.title 
          desc=post.desc
          img=post.img
          cta="Read More"
        %}
      {% endfor %}
  </div>

</div>


<link rel="stylesheet" href="{{ site.url }}/css/blog.css">
