---
layout: default
title: Mood Board
permalink: /board/
custom_css: board
custom_js: board
---

<h1 class="gallery-h1">Inspiration Board</h1>

<div class="board" id="inspo-board">
    <div class="board-x">
	<div></div>
	<div></div>
    </div>
    <div class="board-arrow-l board-arrow"></div>
    <div class="board-arrow-r board-arrow"></div>
    <div class="board-content">
    	{% include board-item.html
            img="2019-04-13-linux-bg.jpg" 
	    desc="Add description here"
        %}
        {% include board-item.html
            img="j.png" 
	    desc="Add description here"
        %}
    </div>
</div>
