---
layout: default
permalink: //
---

<div id="intro">
  <div id="index-bubble1"></div>
  <div id="index-bubble2"></div>
  <div id="index-bubble3"></div>
  <div id="intro-left">
    <div id="intro-greet">
      <img id="intro-logo" src="{{ site.url }}/img/TangerineLogo.png" alt="Gernene's Tangerine Logo">
      <div id="intro-hello">
        <div id="intro-hi">Hello!</div>
        <div id="intro-am">I am</div>
        <h1>Gernene</h1>
      </div>
    </div>
  </div>
  <div id="intro-right">
    <div>
      A passionate full-stack developer and designer.<br>
      Crafting intuitive apps using code and creativity.
    </div>
    <a class="btn" href="{{ site.url }}/resume">See My Resume!</a>
  </div>
</div>
{% include features1.html %}

<div class="index-skills">
  <h2>Skills & Technologies</h2>
  {% include index-skill.html
    name="NodeJS"
    color="#519b23"
  %}
  {% include index-skill.html
    name="React"
    color="#009edd"
  %}
  {% include index-skill.html
    name="Ruby on Rails"
    color="#ba1f46"
  %}
  {% include index-skill.html
    name="HTML"
    color="#ef8002"
  %}
  {% include index-skill.html
    name="CSS"
    color="#0176a0"
  %}
  {% include index-skill.html
    name="Python"
    color="#e0a800"
  %}
  {% include index-skill.html
    name="Java"
    color="#d62a2a"
  %}
  {% include index-skill.html
    name="Shopify"
    color="#75379b"
  %}
  {% include index-skill.html
    name="PHP"
    color="#4d6da0"
  %}
  {% include index-skill.html
    name="C++"
    color="#e2e2e2"
  %}
</div>

<div id="index-about">
  <div id="index-mountains">
    <div class="animation-element"></div>
    <div class="animation-element"></div>
    <div class="animation-element"></div>
    <div class="animation-element"></div>
  </div>
  <p>
    An interdisciplinary software engineer and designer with a specialty in UI/UX. I use my versatile skill set to approach problems with:
  </p>
  <ul>
    <li>
      A broad understanding of context and constraints
    </li>
    <li>
      Role flexibility
    </li>
    <li>
      Aptitude for rapid learning
    </li>
    <li>
      Experience reconciling conflicting design/technical/logistical concerns
    </li>
    <li>
      The know-how to produce solutions
    </li>
  </ul>
  <p>
    My goal is to marry computer science and the arts to improve the way people experience a digital world. Like my work or want to chat? Let me know!
  </p>
  <div id="index-links">
    <a href="{{ site.url }}/projects">All Projects<div></div></a>
    <a href="{{ site.url }}/resume">Resume<div></div></a>
    <a href="{{ site.url }}/contact">Get in Touch!<div></div></a>
  </div>
</div>
