<div class="features">
    {% include feature.html
      path="/projects/sarea"
      title="Sarea"
      desc="Sarea is an events-centric networking platform for business."
      img="projects/sarea/sarea-thumb.jpg"
    %}
    {% include feature.html
      path="https://sproutinventions.com"
      title="Sprout Inventions"
      desc="Sprout Inventions aims to use machinery and automation creations to solve complex problems. I'm their designer and web developer."
      img="projects/sprout-inventions-logo.jpg"
      cta="Visit Sprout Inventions"
    %}
    {% include feature.html
      path="/projects/jellydo" 
      title="Jelly Do" 
      desc="A simple to-do list app that experiments with animation and CSS visuals. (React + NodeJS)" 
      img="projects/jellydo/thumb.jpg" 
    %}
    {% include feature.html
      path="/projects/solisles" 
      title="Solisles" 
      desc="A quirky virtual pet site made with love. (PHP + MySQL)" 
      img="projects/solisles/thumb.png" 
    %}
    {% include feature.html
      path="http://ddcc.gernene.com"
      title="Doki Doki Code Club (DDCC)" 
      desc="A totally-not-cringey DDLC fan game inspired by my experience in school tech clubs. Modify actual code files to impact game progression! (Python)"
      img="projects/ddcc-thumb.jpg"
      cta="Visit DDCC's website"
    %}
    {% include feature.html
      path="/art" 
      title="Art & Graphics Gallery" 
      desc="Paintings, concepts, and other creative work." 
      img="art/thumb/rainbow-wallie-painting.jpg" 
    %}
    {% include feature.html
      path="/sunslayer/webtoon" 
      title="Sun Slayer" 
      desc="A graphical clip from the WIP novel. This short webtoon explores visual storytelling with a philosophical twist. Warning: Spoilers and mild violence"
      img="projects/sun-slayer/webtoon/hurt.jpg"
      cta="Read the webtoon"
    %}
    {% include feature.html
      path="/projects/princessmaid" 
      title="Princess Maid" 
      desc="Retelling &quot;Princess and the Pea&quot; in a modern Singaporean context."
      img="projects/princess-maid-thumb.jpg"
      cta="Watch the Video"
    %}

</div>
