<div class="features">
    {% include feature.html
      path="/projects/opus" 
      title="OPUS" 
      desc="Tech-powered tuition. (NextJS, NodeJS, PostgreSQL)" 
      img="projects/opus/thumb.jpg" 
    %}
    {% include feature.html
      path="/projects/chapter-and-club" 
      title="Chapter & Club" 
      desc="Building a social network for writers. (NextJS + NodeJS)" 
      img="projects/chapter-and-club/thumb.jpg" 
    %}
    {% include feature.html
      path="/projects/halp" 
      title="Halp" 
      desc="Halp builds conversational support ticketing products. I contributed to the company as an engineering intern."
      img="projects/halp/thumb.png" 
    %}
    {% include feature.html
      path="/projects/docforge" 
      title="DocForge" 
      desc="Building a tool to simplify, incentivize, and transform documentation. (React + NodeJS)"
      img="projects/docforge/thumb.png" 
    %}
    {% include feature.html
      path="/projects/fhs" 
      title="Fairview High School" 
      desc="Redesigning a high school website for responsive and better content organization. (Ruby on Rails)" 
      img="projects/fhs/thumb.jpg" 
    %}
    {% include feature.html
      path="/projects/jsc" 
      title="Journal Supplies Co" 
      desc="Building a custom ecommerce site. (NodeJS)" 
      img="projects/jsc/thumb.jpg" 
    %}
</div>
